<div class="container-todo-details">

  <mat-card>
    <div [hidden]="!formInvalid" class="alert alert-danger">
      Oops! Something happened with your request!
    </div>
    <form (ngSubmit)="onSubmit()" class="form" #todoForm="ngForm">
      <mat-form-field class="full-width">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <input matInput class="form-control" required value="" name="title" required
                 [(ngModel)]="model.title" #title="ngModel">
        </mat-card-header>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput name="" [(ngModel)]="model.description" name="description"
                  placeholder="Leave a description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Group" [(ngModel)]="model.group" [compareWith]="compareGroups" name="group" required>
          <mat-option *ngFor="let group of groups" [value]="group" >
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions>
        <button mat-button [disabled]="!todoForm.form.valid">SAVE</button>
        <button mat-button (click)="back($event)">CANCEL</button>
      </mat-card-actions>
    </form>

    </mat-card>
</div>
