<div class="text-container aligner">
  <div>
    <h3>Car Sharing</h3>
    <span>
      Car sharing is an energy-saving idea whose time has come! North Americans are starting to see the benefits of "no car ownership hassles" which many Europeans have already known. Car share programs are in place in many European cities, serving more than 150,000 members. These programs are now springing up across North America.
    </span>

    <mat-grid-list cols="2" rowHeight="190px">
      <mat-grid-tile>
        <div>
          <div>
            <mat-icon>local_shipping</mat-icon>
          </div>
          <div>
            Extra income<br/>
            Earn up to $10,000 per year renting your car when you aren't using it.
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div>
            <mat-icon>local_gas_station</mat-icon>
          </div>
          <div>
            $1M Insurance<br/>
            Getaround screens all renters and insures every rental up to $1 million.
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</div>