<div class="container">
    <div class="navmenu">
        <button mat-button class="paddingLeft5" [routerLink]='isLogged ? "sharing-list" :"welcome"'>
            <span>Car Sharing Service </span><mat-icon>near_me</mat-icon>
        </button>
        <button mat-button class="paddingRight5" *ngIf="!isLogged" routerLink="/login">
            <span>login</span>
        </button>
        <button mat-button class="paddingRight5" *ngIf="isLogged" (click)="logout($event)">
            <span>logout</span>
        </button>
    </div>

    <router-outlet></router-outlet>

</div>